<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataAccessLayer" type="Prius.Common.Config.SectionHandler, Prius.Common, Version=1.0.0.0, Culture=neutral" />
  </configSections>
  <dataAccessLayer>
    <servers>
      <server name="cms" type="SqlServer" connectionString="database=KenticoCMS;server=DEVDB1,1433;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33;Asynchronous Processing=True" />
      <server name="dataImport" type="SqlServer" connectionString="database=DataImport;server=SVANSCMSQL01;Current Language=English;Connection Timeout=240;User Id=kcms;Password=ylIGy8HJUI0ldGgrMiwD;Asynchronous Processing=True" />
      <server name="evercookie" type="SqlServer" connectionString="database=Evercookie;server=DEVDB1;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33;Asynchronous Processing=True" />
      <server name="errorLog" type="SqlServer" connectionString="database=ErrorLog;server=DEVDB1;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33;Asynchronous Processing=True" />
      <server name="esb" type="SqlServer" connectionString="database=ESB;server=DEVDB1,1433;Current Language=English;Connection Timeout=15;User Id=kcms;Password=aa.bb.33;Asynchronous Processing=True" />
    </servers>
    <fallbackPolicies>
      <fallbackPolicy name="default" failureWindowSeconds="10" allowedFailurePercent="100" warningFailurePercent="50" backOffTime="00:00:30" />
    </fallbackPolicies>
    <repositories>

      <!-- Press Releases, Articles and other general content -->
      <repository name="news">
        <serverGroup name="primary" servers="cms" fallbackPolicyName="default" />
      </repository>

      <!-- For Blogs, Forums and Users -->
      <repository name="community">
        <serverGroup name="primary" servers="cms" fallbackPolicyName="default" />
      </repository>

      <!-- For Companies, Tickers, Exchanges, Quotes -->
      <repository name="market">
        <serverGroup name="primary" servers="cms" fallbackPolicyName="default" />
      </repository>

      <!-- For Shopping Cart, Orders, Invoices -->
      <repository name="ecommerce">
        <serverGroup name="primary" servers="cms" fallbackPolicyName="default" />
      </repository>

      <!-- For PayPal Reporting -->
      <repository name="reporting">
        <serverGroup name="primary" servers="dataImport" fallbackPolicyName="default" />
      </repository>

      <!-- For Evercookie -->
      <repository name="evercookie" throwExceptions="true">
        <serverGroup name="primary" servers="evercookie" fallbackPolicyName="default" />
      </repository>

      <!-- For errorLog -->
      <repository name="errorLog">
        <serverGroup name="primary" servers="errorLog" fallbackPolicyName="default" />
      </repository>

      <!-- For ESB -->
      <repository name="ESB">
        <serverGroup name="primary" servers="esb" fallbackPolicyName="default" />
      </repository>

    </repositories>
  </dataAccessLayer>
  <connectionStrings>
    <clear />
    <add name="CMSConnectionString" connectionString="database=KenticoCMS;server=DEVDB1;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33" />
    <add name="RatingConnectionString" connectionString="database=Rating;server=DEVDB1;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33" />
    <add name="LoggingConnectionString" connectionString="database=ServiceLog;server=DEVDB1;Current Language=English;Connection Timeout=240;User Id=kcms;Password=aa.bb.33" />
    <add name="ELMAHConnectionString" connectionString="Data Source=HYPER2;Initial Catalog=ELMAH;User ID=kcms;Password=ylIGy8HJUI0ldGgrMiwD" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>